:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 5rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -2rem;
}

.title {
    font-size: 3rem;
}

.subscribe {
    margin-top: -1rem;
    font-size: 1.3rem;
} 

span {
    font-weight: 300;
    color: var(--Gray);
}

#email {
    padding: 0.8rem;
    border-radius: 2rem;
    border-color: var(--Gray);
    opacity: 0.5;
    outline: none;
    width: 28rem;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    position: relative;
}

.email small {
    position: absolute;
    left: 1rem;
    bottom: -1.5rem;
    color: var(--Light-Red);
    display: none;
}

button {
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    background-color: var(--Blue);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: hsl(223, 62%, 61%);
    transition: all 0.2s ease-in-out;
}

.dashboard {
    max-width: 43.2rem;
    max-height: 30rem;
    margin-top: 3rem;
}

.dashboard img {
    width: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1.3rem;
}

.circle {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.circle:hover {
    background-color: var(--Blue);
    transition: all 0.2s ease-in-out;
    color: white;
}

.copyright {
    color: var(--Gray);
}
