:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.card {
    background-color: var(--Dark-Blue);
    border-radius: 2rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 29rem;
}

.selected {
    background-color: hsl(214, 13%, 22%);
    color: var(--Orange);
    margin-top: 2rem;
    padding: 0px 16px;
    border-radius: 1.5rem;
}

h1 {
    color: var(--White);
    margin-top: 2.7rem;
}

.feedback {
    color: var(--Light-Grey);
    line-height: 1.5;
    font-weight: 600;
    font-size: 15px;
}