:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Linear-135deg-from: hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --Linear-135deg-from: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

* {
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
}

.content {
    background-image: url(/Frontend-Mentor-JS-Projects/Base-Apparel/images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
    position: relative;
}

.hero {
    background-image: url(/Frontend-Mentor-JS-Projects/Base-Apparel/images/hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    font-size: 70px;
    text-transform: uppercase;
}