:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: "Poppins", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0;
    overflow: hidden;
    background-color: var(--Red);
    background-image: url(/Frontend-Mentor-JS-Projects/Intro-Component-Form/images/bg-intro-desktop.png);
    background-size: cover;
    background-position: center;
    padding: 10rem;
    height: 100vh;
}

.text-contents h1 {
   font-size: 3.3rem;
   line-height: 1.2;
}

.text-contents {
    max-width: 520px;
}

#subscribe {
    background-color: var(--Blue);
    padding: 0.8rem 3rem;
    border-radius: 0.3rem;
    font-family: inherit;
    width: 100%;
    border: none;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

#subscribe:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

#claim:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

#form {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: inherit;
    padding: 2.5rem;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 520px;
}

input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    border-color: var(--Grayish-Blue);
    color: #000;
    outline: none;
}

.input-field {
    width: 100%;
    position: relative;
}

.input-field + .input-field {
    margin-top: 2.5rem;
}

input::placeholder {
    font-weight: 600;
}

#claim {
    background-color: var(--Green);
    padding: 0.8rem 3rem;
    border-radius: 0.3rem;
    font-family: inherit;
    width: 100%;
    border: none;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

form p {
    color: var(--Grayish-Blue);
    font-size: 0.7rem;
}

form p span {
    color: var(--Red);
    font-weight: 600;
}

.warning {
    color: var(--Red);
    position: absolute;
    right: 0;
    display: none;
}

.warning:focus {
    display: none;
}

.errorimg {
    position: absolute;
    right: 1.5rem;
    bottom: 28%;
    display: none;
}